<%- include('parts/html-head')%>
<%- include('parts/navbar')%>

<div class="container">
        <%#輸出到頁面上用等於%>
        <h2> <%= name %> </h2>

</div>

<%- include('parts/script')%>
<%- include('parts/html-foot')%>
